[submodule "doc-old"]
	path = doc-old
	url = git@github.com:gjsify/doc.git
[submodule "easy6502"]
	path = easy6502
	url = git@github.com:JumpLink/easy6502.git
[submodule "eu.jumplink.Learn6502"]
	path = eu.jumplink.Learn6502
	url = https://github.com/flathub/eu.jumplink.Learn6502
[submodule "gjsify"]
	path = gjsify
	url = git@github.com:gjsify/gjsify.git
[submodule "gnome-shell"]
	path = gnome-shell
	url = git@github.com:gjsify/gnome-shell.git
[submodule "pixel-rpg/map-editor"]
	path = pixel-rpg/map-editor
	url = git@github.com:PixelRPG/map-editor.git
[submodule "ts-for-gir"]
	path = ts-for-gir
	url = git@github.com:gjsify/ts-for-gir.git
[submodule "design/app-illustrations"]
	path = design/app-illustrations
	url = https://gitlab.gnome.org/Teams/Design/app-illustrations.git
[submodule "pixel-rpg/zelda-games"]
	path = pixel-rpg/zelda-games
	url = git@github.com:PixelRPG/oot-2d.git
[submodule "design/app-mockups"]
	path = design/app-mockups
	url = https://gitlab.gnome.org/Teams/Design/app-mockups.git
[submodule "design/developer.gnome.org-hig"]
	path = design/developer.gnome.org-hig
	url = https://gitlab.gnome.org/Teams/Websites/developer.gnome.org-hig.git
[submodule "design/software-mockups"]
	path = design/software-mockups
	url = https://gitlab.gnome.org/Teams/Design/software-mockups.git
